#vis-wrapper {
	display: inline-block;
}

#vis-wrapper h1, #vis-wrapper h3 {
	text-align: center;
	padding-right: 225px;
}

#vis {
	margin-top: 50px
}

.legend-heading {
	font-weight: bold;
	font: 25px sans-serif;
}

svg circle {
	stroke: black;
	stroke-opacity: 1;
	stroke-width: 0.8;
}

text {
  font: 20px sans-serif;
  fill: black;
}

.x text, .x .tick {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

circle.highlight {
	stroke-width: 2;
}

circle.dim {
	fill-opacity: 0.6;
}

rect.highlight {
	stroke: black;
	stroke-width: 1;
	opacity: 1;
}

rect.dim {
	fill: #bbb;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.rangeslider {
	width: 750px !important;
	margin-left: 180px !important;
}

.rangeslider__fill {
	background: #FA6900 !important;
}
