#vis rect {
  fill: steelblue;
}

#vis {
	padding: 100px;
}

.axis text {
  font: 20px sans-serif;
}

.x text, .x .tick {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
